/* GRID RESET */
* {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

/* GRID HELPERS */
.border { border: 1px solid #666; }
.padding { padding: 0px 15px; }

/* GRID SYSTEM */
.container {
  width: 99%;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}
.container-full {
  width: 100%;
  margin: 0px auto;
}

.row {
  margin: 0px auto;
}
.row:before, 
.row:after {
  content: " ";
  display: table; 
}
.row:after {
  clear: both; 
}

.column-list {
  position: relative;
  float: none;
}
.column-small {
  position: relative;
  float: none;
}
@media (min-width: 768px) {
  .column-small {
    float: left;
  }
}
.column-medium {
  position: relative;
  float: none;
}
@media (min-width: 992px) {
  .column-medium {
    float: left;
  }
}
.column-large {
  position: relative;
  float: none;
}
@media (min-width: 1200px) {
  .column-large {
    float: left;
  }
}
.column-12 {
  width: 100%;
}
.column-push-12 {
  right: 100%;
}
.column-pull-12 {
  left: 100%;
}
.column-offset-12 {
  margin-left: 100%;
}
.column-11 {
  width: 91.66666667%;
}
.column-push-11 {
  right: 91.66666667%;
}
.column-pull-11 {
  left: 91.66666667%;
}
.column-offset-11 {
  margin-left: 91.66666667%;
}
.column-10 {
  width: 83.33333333%;
}
.column-push-10 {
  right: 83.33333333%;
}
.column-pull-10 {
  left: 83.33333333%;
}
.column-offset-10 {
  margin-left: 83.33333333%;
}
.column-9 {
  width: 75%;
}
.column-push-9 {
  right: 75%;
}
.column-pull-9 {
  left: 75%;
}
.column-offset-9 {
  margin-left: 75%;
}
.column-8 {
  width: 66.66666667%;
}
.column-push-8 {
  right: 66.66666667%;
}
.column-pull-8 {
  left: 66.66666667%;
}
.column-offset-8 {
  margin-left: 66.66666667%;
}
.column-7 {
  width: 58.33333333%;
}
.column-push-7 {
  right: 58.33333333%;
}
.column-pull-7 {
  left: 58.33333333%;
}
.column-offset-7 {
  margin-left: 58.33333333%;
}
.column-6 {
  width: 50%;
}
.column-push-6 {
  right: 50%;
}
.column-pull-6 {
  left: 50%;
}
.column-offset-6 {
  margin-left: 50%;
}
.column-5 {
  width: 41.66666667%;
}
.column-push-5 {
  right: 41.66666667%;
}
.column-pull-5 {
  left: 41.66666667%;
}
.column-offset-5 {
  margin-left: 41.66666667%;
}
.column-4 {
  width: 33.33333333%;
}
.column-push-4 {
  right: 33.33333333%;
}
.column-pull-4 {
  left: 33.33333333%;
}
.column-offset-4 {
  margin-left: 33.33333333%;
}
.column-3 {
  width: 25%;
}
.column-push-3 {
  right: 25%;
}
.column-pull-3 {
  left: 25%;
}
.column-offset-3 {
  margin-left: 25%;
}
.column-2 {
  width: 16.66666667%;
}
.column-push-2 {
  right: 16.66666667%;
}
.column-pull-2 {
  left: 16.66666667%;
}
.column-offset-2 {
  margin-left: 16.66666667%;
}
.column-1 {
  width: 8.33333333%;
}
.column-push-1 {
  right: 8.33333333%;
}
.column-pull-1 {
  left: 8.33333333%;
}
.column-offset-1 {
  margin-left: 8.33333333%;
}
@media (max-width: 768px) {
  .column-12, .column-push-12, .column-pull-12, .column-offset-12,
  .column-11, .column-push-11, .column-pull-11, .column-offset-11,
  .column-10, .column-push-10, .column-pull-10, .column-offset-10,
  .column-9, .column-push-9, .column-pull-9, .column-offset-9,
  .column-8, .column-push-8, .column-pull-8, .column-offset-8,
  .column-7, .column-push-7, .column-pull-7, .column-offset-7,
  .column-6, .column-push-6, .column-pull-6, .column-offset-6,
  .column-5, .column-push-5, .column-pull-5, .column-offset-5,
  .column-4, .column-push-4, .column-pull-4, .column-offset-4,
  .column-3, .column-push-3, .column-pull-3, .column-offset-3,
  .column-2, .column-push-2, .column-pull-2, .column-offset-2,
  .column-1, .column-push-1, .column-pull-1, .column-offset-1 {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .column-12, .column-push-12, .column-pull-12, .column-offset-12,
  .column-11, .column-push-11, .column-pull-11, .column-offset-11,
  .column-10, .column-push-10, .column-pull-10, .column-offset-10,
  .column-9, .column-push-9, .column-pull-9, .column-offset-9,
  .column-8, .column-push-8, .column-pull-8, .column-offset-8,
  .column-7, .column-push-7, .column-pull-7, .column-offset-7,
  .column-6, .column-push-6, .column-pull-6, .column-offset-6,
  .column-5, .column-push-5, .column-pull-5, .column-offset-5,
  .column-4, .column-push-4, .column-pull-4, .column-offset-4,
  .column-3, .column-push-3, .column-pull-3, .column-offset-3,
  .column-2, .column-push-2, .column-pull-2, .column-offset-2,
  .column-1, .column-push-1, .column-pull-1, .column-offset-1 {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .column-12, .column-push-12, .column-pull-12, .column-offset-12,
  .column-11, .column-push-11, .column-pull-11, .column-offset-11,
  .column-10, .column-push-10, .column-pull-10, .column-offset-10,
  .column-9, .column-push-9, .column-pull-9, .column-offset-9,
  .column-8, .column-push-8, .column-pull-8, .column-offset-8,
  .column-7, .column-push-7, .column-pull-7, .column-offset-7,
  .column-6, .column-push-6, .column-pull-6, .column-offset-6,
  .column-5, .column-push-5, .column-pull-5, .column-offset-5,
  .column-4, .column-push-4, .column-pull-4, .column-offset-4,
  .column-3, .column-push-3, .column-pull-3, .column-offset-3,
  .column-2, .column-push-2, .column-pull-2, .column-offset-2,
  .column-1, .column-push-1, .column-pull-1, .column-offset-1 {
    width: 100%;
  }
}
